<!DOCTYPE html>
<html lang="en">
    <%- include ("./partials/head.ejs") %>
<body class="Coffee-Recipes">
  <%- include ('./partials/header.ejs') %>
    <!-- <h4>Add new Recipes</h4>
    <a href="/recipes/new">Add New Recipe</a> -->
    <div class="row center">
        <% for(let i = 0; i < recipes.length; i++) { %>
            <div class="card-stacked">
                <div class="col s12 m5">
                    <div class="card center">  
                        <span class="card-title"><a href="/recipes/<%= recipes[i]._id %>"><%= recipes[i].name %></a></span>
                        <div>
                            <ul class="flex-container">
                            <li class="flex-item"><p><%= recipes[i].description %></p></li>
                            <br>
                            <a href="/recipes/<%= recipes[i]._id %>/edit">Edit</a>
                            <form action="/recipes/<%= recipes[i]._id %>?_method=DELETE" method="POST">
                                <input type="submit" value="Delete">
                            </form>
                            </ul>
                        </div>
                    </div>
                </div> 
            </div>
        <% } %>
    </div>
    <%- include ("./partials/footer.ejs") %>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
</body>
</html>