<!DOCTYPE html>
<html lang="en">
    <%- include ("./partials/head.ejs") %>
<body class="card-panel">
    <%- include ("./partials/header.ejs") %>
    <div class="container col s12 m7 center">
        <div class="card">
            <div class="card-stacked">
                <h3 class="center"><%= recipe.name %></h3>
                <% if(recipe) { %>
                The recipe is: <%= recipe.name %>
                <p>Ingredients: <%= recipe.ingredients %></p>
                <p><%= recipe.instructions %></p>
                <% } else { %>
                <h1>Recipe not found</h1>
                <% } %>
            </div>
        </div>
    </div>
    <%- include ("./partials/footer.ejs") %>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <style>
        .card-panel {
            background-color: antiquewhite;
        }
    </style>
</body>
</html>



