<!DOCTYPE html>
<html lang="en">
    <%- include ("./partials/head.ejs") %>
<body class="card-panel lime">
    <%- include ("./partials/header.ejs") %>
    <h1 class="text-center">Coffee Recipes</h1>
    <% if(recipe) { %>
        The recipe is: <%= recipe.name %>
        <img src="<%= recipe.image %>" alt="Coffee-Image">
        <p><%= recipe.description %></p>
        <p><%= recipe.ingredients %></p>
        <p><%= recipe.instructions %></p>
        <% } else { %>
            <h1>Recipe not found</h1>
        <% } %>

    <div class="btn-format">
    <%- include ("./partials/footer.ejs") %>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
</body>
</html>



