<!DOCTYPE html>
<html lang="en">
    <%- include ("./partials/head.ejs") %>
<body class="card-panel lime">
    <%- include ("./partials/header.ejs") %>
    <div  class="col s12 m7 center">
        <div class="card horizontal">
            <div class="card-stacked">
                <h1 class="center"><%= recipe.name %></h1>
                <img src="<%= recipe.img %>" alt="Coffee-Image">
                <% if(recipe) { %>
                The recipe is: <%= recipe.name %>
                <p>Ingredients: <%= recipe.ingredients %></p>
                <p><%= recipe.instructions %></p>
                <% } else { %>
                <h1>Recipe not found</h1>
                <% } %>
            </div>
        </div>
    </div>
    <%- include ("./partials/footer.ejs") %>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
</body>
</html>



