<!DOCTYPE html>
<html lang="en">
    <%- include ("./partials/head.ejs") %>
<body>
    <h1>Coffee Recipes</h1>
    <a href="/recipes/new">Add New Recipe</a>
    <ul>
        <% recipes.forEach(recipe => { %>
            <li>
                <a href="/recipes/<%= recipes.id %>"><%= recipe.name %></a>
                <a href="/recipes/<%= recipe.id %>/edit">Edit</a>
                <form action="/recipes/<%= recipe.id %>?method=DELETE" method="POST">
                    <button type="submit">Delete</button>
                </form>
            </li>
       <% }) %>
    </ul>
</body>
</html>