<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>All Coffee | <%= tabTitle %></title>
        <link rel="stylesheet" href="/css/style.css">
     </head>
<body>
    <h1><%= recipe.name %></h1>
    <p><%= recipe.description %></p>
    <h2>Ingredients</h2>
    <ul>
        <% recipe.ingredients.forEach(ingredient => { %>
            <li><%= ingredient %></li>
        <% }) %>
    </ul>
    <h2>Instructions</h2>
    <ol>
        <% recipe.instructions.forEach(instruction => { %>
            <li><%= instruction %></li>
        <% }) %>
    </ol>
</body>
</html>