<!DOCTYPE html>
<html lang="en">
    <%- include ("./partials/head.ejs") %>
<body>
    <h1><%= recipe.name %></h1>
    <p><%= recipe.description %></p>
    <h2>Ingredients</h2>
    <ul>
        <% recipe.ingredients.forEach(ingredient => { %>
            <li><%= ingredient %></li>
        <% }) %>
    </ul>
    <h2>Instructiins</h2>
    <ol>
        <% recipe.instructions.forEach(instruction => { %>
            <li><%= instruction %></li>
        <% }) %>
    </ol>
</body>
</html>